<div class="about-heading">
    <h1>about us</h1>

    <div class="about-comment">
        <h3>MEET OUT TEAM</h3>
    </div>
</div>

<div class="about-comtainer">

    <div class="about-box-wrapper fea-employee-large">
        <div class="icon-pic-containetr-large">
            <img src="{{ site.github.url }}/images/michael_smith.png"></img>
            <div class="social-icons-containetr-large">
                <a href="http://twitter.com">
                    <img class"default-twitter" src="{{ site.github.url }}/images/twitter.png" alt="twitter link">
                    </a>
                <a href="http://facebook.com"><img src="{{ site.github.url }}/images/facebook_blue.png" alt="facebook link"></a>
                <a href="http://plus.google.com"><img src="{{ site.github.url }}/images/google_plus.png" alt="google plus link"></a>
                <a href="http://linkedin.com"><img src="{{ site.github.url }}/images/linkedin.png" alt="linkedin link"></a>
            </div>
        </div>
        <div class="employee-info">
            <h2>Michael Smith</h2>
            <h4>Project Manager</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sint ut consequuntur molestias eius ullam corporis dolorem quidem inventore culpa odio esse corrupti suscipit maxime earum recusandae architecto ea minus veniam modi. Numquam,
                amet est vitae suscipit libero reiciendis dolore.</p>
        </div>
    </div>


    <!--start of the small boxes-->

    <div class="about-box-wrapper fea-employee-small">
        <div class="icon-pic-containetr">
            <img src="{{ site.github.url }}/images/michael_smith.png"></img>
            <div class="social-icons-containetr">
                <a href="http://twitter.com"><img src="{{ site.github.url }}/images/twitter.png" alt="twitter link"></a>
                <a href="http://facebook.com"><img src="{{ site.github.url }}/images/facebook_blue.png" alt="facebook link"></a>
                <a href="http://plus.google.com"><img src="{{ site.github.url }}/images/google_plus.png" alt="google plus link"></a>
                <a href="http://linkedin.com"><img src="{{ site.github.url }}/images/linkedin.png" alt="linkedin link"></a>
            </div>
        </div>
        <div class="employee-info">
            <h2>Michael Smith</h2>
            <h4>Project Manager</h4>
        </div>
    </div>
    <div class="about-box-wrapper">
        <div class="icon-pic-containetr">
            <img src="{{ site.github.url }}/images/john_doe.png"></img>
            <div class="social-icons-containetr">
                <a href="http://twitter.com"><img src="{{ site.github.url }}/images/twitter.png" alt="twitter link"></a>
                <a href="http://facebook.com"><img src="{{ site.github.url }}/images/facebook_blue.png" alt="facebook link"></a>
                <a href="http://plus.google.com"><img src="{{ site.github.url }}/images/google_plus.png" alt="google plus link"></a>
                <a href="http://linkedin.com"><img src="{{ site.github.url }}/images/linkedin.png" alt="linkedin link"></a>
            </div>
        </div>
        <div class="employee-info">
            <h2>John Doe</h2>
            <h4>Web Designer</h4>
        </div>
    </div>
    <div class="about-box-wrapper">
        <div class="icon-pic-containetr">
            <img src="{{ site.github.url }}/images/jane_smith.png"></img>
            <div class="social-icons-containetr">
                <a href="http://twitter.com"><img src="{{ site.github.url }}/images/twitter.png" alt="twitter link"></a>
                <a href="http://facebook.com"><img src="{{ site.github.url }}/images/facebook_blue.png" alt="facebook link"></a>
                <a href="http://plus.google.com"><img src="{{ site.github.url }}/images/google_plus.png" alt="google plus link"></a>
                <a href="http://linkedin.com"><img src="{{ site.github.url }}/images/linkedin.png" alt="linkedin link"></a>
            </div>
        </div>
        <div class="employee-info">
            <h2>Jane Smith</h2>
            <h4>Executive Officer/ CEO</h4>
        </div>
    </div>
    <div class="about-box-wrapper">
        <div class="icon-pic-containetr">
            <img src="{{ site.github.url }}/images/anna_foster.png"></img>
            <div class="social-icons-containetr">
                <a href="http://twitter.com"><img src="{{ site.github.url }}/images/twitter.png" alt="twitter link"></a>
                <a href="http://facebook.com"><img src="{{ site.github.url }}/images/facebook_blue.png" alt="facebook link"></a>
                <a href="http://plus.google.com"><img src="{{ site.github.url }}/images/google_plus.png" alt="google plus link"></a>
                <a href="http://linkedin.com"><img src="{{ site.github.url }}/images/linkedin.png" alt="linkedin link"></a>
            </div>
        </div>
        <div class="employee-info">
            <h2>Anna Foster</h2>
            <h4>Marketing</h4>
        </div>
    </div>
    <div class="about-box-wrapper">
        <div class="icon-pic-containetr">
            <img src="{{ site.github.url }}/images/mick_becker.png"></img>
            <div class="social-icons-containetr">
                <a href="http://twitter.com"><img src="{{ site.github.url }}/images/twitter.png" alt="twitter link"></a>
                <a href="http://facebook.com"><img src="{{ site.github.url }}/images/facebook_blue.png" alt="facebook link"></a>
                <a href="http://plus.google.com"><img src="{{ site.github.url }}/images/google_plus.png" alt="google plus link"></a>
                <a href="http://linkedin.com"><img src="{{ site.github.url }}/images/linkedin.png" alt="linkedin link"></a>
            </div>
        </div>
        <div class="employee-info">
            <h2>Mick Becker</h2>
            <h4>PHP Developer</h4>
        </div>
    </div>

</div>
