<div class="features-heading">
    <h1>FEATURES</h1>
    <div class="heading-comment">
        <h3>TAKE OUR BEST FEATURES</h3>
    </div>
</div>

<div class="feature-container">
    <div class="feature-box-wrapper">
        <div class="feature-img">
            <img src="{{ site.github.url }}/images/amazing_ideas.png"></img>
        </div>
        <div>
            <h2>Amazing Ideas</h2>
        </div>
        <div class="blue-line"></div>
        <div class="feature-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, qui error recusandae modi? Deserunt, totam, quisquam, ad pariatur magnam enim voluptates minima architecto debitis odio quidem rem necessitatibus laboriosam facere culpa perspiciatis
                deleniti. Facilis, odit tempora quo maiores voluptas fugit!
                <p>
        </div>
    </div>
    <div class="feature-box-wrapper">
        <div class="feature-img">
            <img src="{{ site.github.url }}/images/ultra_fast.png"></img>
        </div>
        <div>
            <h2>Ultra Fast</h2>
        </div>
        <div class="blue-line"></div>
        <div class="feature-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, qui error recusandae modi? Deserunt, totam, quisquam, ad pariatur magnam enim voluptates minima architecto debitis odio quidem rem necessitatibus laboriosam facere culpa perspiciatis
                deleniti. Facilis, odit tempora quo maiores voluptas fugit!
                <p>
        </div>
    </div>
    <div class="feature-box-wrapper">
        <div class="feature-img">
            <img src="{{ site.github.url }}/images/cloud_storage.png"></img>
        </div>
        <div>
            <h2>Cloud Storage</h2>
        </div>
        <div class="blue-line"></div>
        <div class="feature-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, qui error recusandae modi? Deserunt, totam, quisquam, ad pariatur magnam enim voluptates minima architecto debitis odio quidem rem necessitatibus laboriosam facere culpa perspiciatis
                deleniti. Facilis, odit tempora quo maiores voluptas fugit!
                <p>
        </div>
    </div>
    <div class="feature-box-wrapper">
        <div class="feature-img">
            <img src="{{ site.github.url }}/images/mobile_optimized.png"></img>
        </div>
        <div>
            <h2>Mobile Optimised</h2>
        </div>
        <div class="blue-line"></div>
        <div class="feature-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, qui error recusandae modi? Deserunt, totam, quisquam, ad pariatur magnam enim voluptates minima architecto debitis odio quidem rem necessitatibus laboriosam facere culpa perspiciatis
                deleniti. Facilis, odit tempora quo maiores voluptas fugit!
                <p>
        </div>
    </div>
    <div class="feature-box-wrapper">
        <div class="feature-img">
            <img src="{{ site.github.url }}/images/psd_layered.png"></img>
        </div>
        <div>
            <h2>PSD layered</h2>
        </div>
        <div class="blue-line"></div>
        <div class="feature-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, qui error recusandae modi? Deserunt, totam, quisquam, ad pariatur magnam enim voluptates minima architecto debitis odio quidem rem necessitatibus laboriosam facere culpa perspiciatis
                deleniti. Facilis, odit tempora quo maiores voluptas fugit!
                <p>
        </div>
    </div>
    <div class="feature-box-wrapper">
        <div class="feature-img">
            <img src="{{ site.github.url }}/images/easy_customizable.png"></img>
        </div>
        <div>
            <h2>Easy Customisable</h2>
        </div>
        <div class="blue-line"></div>
        <div class="feature-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, qui error recusandae modi? Deserunt, totam, quisquam, ad pariatur magnam enim voluptates minima architecto debitis odio quidem rem necessitatibus laboriosam facere culpa perspiciatis
                deleniti. Facilis, odit tempora quo maiores voluptas fugit!
                <p>
        </div>
    </div>
</div>
